
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.dev
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> custom ###
.editorconfig
.phpunit.result.cache
###< custom ###
